<!doctype html>
<html land="en">
    <head>
        <meta charset="utf-8">
        <title>Oakland Crime</title>
        <link
            href="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css"
            rel="stylesheet" type="text/css">
        <script
            type="text/javascript"
            src="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js">
        </script>
        {{ script | safe }}
    </head>

    <body>
        <h1>Crime statistics for the last 90 days</h1>
        <br>
        {{ div | safe}}
    </body>
</html>
